/* css for login page */

.form1 {
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 5px;
    background-image: linear-gradient(to bottom, #051a59, #000000);
    border-radius: 25px;
}


.mdp {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}


.pseudo {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.pseudo input {
    color:#000000
}

.centerer input {
    font-family: Bahnschrift;
    font-size: 20px;
    color: #000000;

}
.centerer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: black;
}


.subbtn {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}

.subbtn #btn {
    font-family: Bahnschrift;
    border: 2px solid #ffffff;
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    color: black;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

.subbtn #btn:hover {
    border: 2px solid #50ff0d;
    background-color: #000000;
    color: #ffffff;
    transition-delay: 50ms;
    transition-duration: 500ms;
}