
/* navbar css */

.navbar2 {
    left: 50px;
    background-color: #ff0000;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: Bahnschrift;
    text-decoration: none;

}

a {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
}