
/* navbar css */

.navbar {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #051a59, #000000);
    border-radius: 25px;
    border:2px solid #ffffff;
    width: 50%;
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    background-color: #ff0000;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-family: Bahnschrift;
    text-decoration: none;

}

a {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #000000;
    color: #ffffff;
    text-decoration: none;
}