
.form1 {
    border: 2px solid #ffffff;
    padding: 20px;
    margin: 5px;
    background-image: linear-gradient(to bottom, #051a59, #000000);
    border-radius: 25px;
}

.pseudo {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.mdp {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.nom {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.prenom {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.email {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.centerer,input {
    font-family: Bahnschrift;
    font-size: 20px;
    color: #ffffff;

}

.civilite {

    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.ville {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.cp {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.adresse {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
    text-align: center;
    border-radius: 25px;
}

.centerer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.subbtn {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.subbtn #btn {
    font-family: Bahnschrift;
    font-size: 20px;
    border-radius: 25px;
    color: black;
    transition-delay: 50ms;
    transition-duration: 500ms;
}

.subbtn #btn:hover {
    background-color: #000000;
    color: #ffffff;
    transition-delay: 50ms;
    transition-duration: 500ms;
}